@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --font-jakarta: var(--font-jakarta);
  --font-sora: var(--font-sora);
}

:root {
  --background: #000000;
  --foreground: #ededed;
  --text-primary: #e9d5ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
}
