@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --font-jakarta: var(--font-jakarta);
  --font-sora: var(--font-sora);
}

@media (prefers-color-scheme) {
  :root {
    --background: #0a0114;
    --foreground: #ededed;
    --text-primary: #e9d5ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
}
